body
{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmRystl_a1O81bKBziGrHBd01mGjuwrfTUEw&s");
	text-align: center;'
	top: 0;
}
h1
{	
	position: sticky;
	top:0;
	text-align: center;
	font-size: 80px;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAR4AAACwCAMAAADudvHOAAAANlBMVEXkAwN1B4f/7QAAgCb/jAAATf/3bwH/jgD/iQD/rQD/8QD/9AAAdigAggAAXs0AS/84Pd55AH+5fDlkAAABL0lEQVR4nO3QyUECAAAEsZVbAZH+m6WD+fhNSsgGAAAAAAAAAPB/F8KuhJ0IepKepCfpSXqSnqQn6Ul6kp6kJ+lJepKepCfpSXqSnqQn6Ul6kp6kJ+lJetJuhH0T9kPYgaAn6Ul6kp6kJ+lJepKepCfpSXqSnqQn6Ul6kp6kJ+lJepKepCfpSXqSnqQn6Um7E/Yg7EjQk/QkPUlP0pP0JD1JT9KT9CQ9SU/Sk/QkPUlP0pP0JD1JT9KT9CQ9SU/Sk/SkPQn7JexF2JmgJ+lJepKepCfpSXqSnqQn6Ul6kp6kJ+lJepKepCfpSXqSnqQn6Ul6kp6kJ+lJ+yPsTdgXQU/Sk/QkPUlP0pP0JD1JT9KT9CQ9SU/Sk/QkPUlP0pP0JD1JT9KT9CQ9SU/Sk/SkD5ccW2fnuqOiAAAAAElFTkSuQmCC");
	background-size: 100% 100%;
	background-repeat:no-repeat;
	display:inline-block;
	color:black;
	padding: 10px 20px;
	border-radius: 20000000000000000px;
}
